
  <section id="novedad">
    <div class="container px-5">
       <div class="row gx-5 align-items-center">
          <div class="col-lg-12 order-lg-0 row" align="">
             <!-- Features section device mockup-->
            
             <div class="col-md-12">
                <br>
                <br>
                <br>
                <br>
             </div>
             <div class="col-md-8 row">
                 <table>
                     <tr>
                         <td>
                            <img src="../../assets/Botellas/YellowRoseOutlaw.webp" class="img-fluid">
                         </td>
                         <td>
                            <h6 class="ln-1">Yellow Rose Outlaw Bourbon</h6>
                            <p>46% ADV</p>
                            <a class="eliminar">Eliminar</a>
                         </td>
                         <td style="width: 100px;">
                            <button class="botoncontador resta" (click)="resta()">-</button>
                            <span>{{ cantidad }}</span>
                            <button class="botoncontador suma" (click)="suma()">+</button>
                         </td>
                         <td>
                            <h6>$00.00</h6>
                         </td>
                     </tr>
                     <tr>
                         <td>
                            <img src="../../assets/Botellas/Beefeater24.webp" class="img-fluid">
                         </td>
                         <td>
                            <h6 class="ln-1">Beedeater 24Gin</h6>
                            <p>46% ADV</p>
                            <a class="eliminar">Eliminar</a>
                         </td>
                         <td style="width: 100px;">
                            <button class="botoncontador resta" (click)="resta()">-</button>
                            <span>{{ cantidad }}</span>
                             <button class="botoncontador suma" (click)="suma()">+</button>
                         </td>
                         <td>
                            <h6>$00.00</h6>
                         </td>
                     </tr>
                     <tr>
                         <td>
                            <img src="../../assets/Botellas/Greenalls.webp" class="img-fluid">
                         </td>
                         <td>
                            <h6 class="ln-1">Greenall´s Gin</h6>
                            <p>46% ADV</p>
                            <a class="eliminar">Eliminar</a>
                         </td>
                         <td style="width: 100px;">
                            <button class="botoncontador resta" (click)="resta()">-</button>
                            <span>{{ cantidad }}</span>
                            <button class="botoncontador suma" (click)="suma()">+</button>
                            </td>
                         <td>
                            <h6>$89.00</h6>
                         </td>
                     </tr>
                     <tr>
                         <td></td>
                         <td></td>
                         <td  style="width: 100px;">
                            <span style="font-size:20px; color:rgb(175, 174, 174);">Subtotal (6 items)</span>
                        </td>
                         <td style="width: 100px;">
                            <h6 >
                                $ 283.96
                            </h6>
                         </td>
                     </tr>
                 </table>

            </div>
             <div class="col-md-4">
                <div class="check">
                    <h4 class="ln-1">Check Out</h4>
                    <hr>
                    <table>
                        <tr>
                            <td><h6>Subtotal</h6></td>
                            <td><h6>$ 180.00</h6></td>
                        </tr>
                        <tr>
                            <td><h6>Gastos de envio</h6></td>
                            <td><h6>$ 3.39</h6></td>
                        </tr>
                        <tr>
                            <td><h6>Propina</h6></td>
                            <td><h6>$ 0.00</h6></td>
                        </tr>
                        <tr>
                            <td><h6>Cupón de descuento</h6></td>
                            <td><h6>$ -10.00</h6></td>
                        </tr>
                    </table>
                    <hr>
                    <table>
                        <tr>
                            <td><h6>Total</h6></td>
                            <td><h6>$180.00</h6></td>
                        </tr>
                    </table>
                </div>
                <br>
                <h6>Ingresar cupón o girfcard</h6>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Escribir" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append" >
                      <span class="input-group-text" style="background: #008ef0; color: #fff;" id="basic-addon2">Validar</span>
                    </div>
                  </div>
                  <br>
                <h6>Agregar Propina</h6>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Escribir" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append" >
                      <span class="input-group-text"style="background: #008ef0; color: #fff;"  id="basic-addon2">Agregar</span>
                    </div>
                  </div>

                <br>
                <a class="btntotal " style="" [routerLink]="['../../../../elsalvador/carrito/']">Confirmar y Procesar ´Pagos ></a>

             </div>
         

          
            

          </div>
       </div>
    </div>
 </section>