<section id="novedad" style=" background: #f7f7f7;">
    <div class="container px-5" style=" background: #f7f7f7;">
       <div class="row gx-5 align-items-center">
          <div class="col-lg-12 order-lg-0 row" align="center">
             <!-- Features section device mockup-->
            
             <div class="col-md-12">
                <br>
                <br>
                <br>
                <br>
             </div>


           <div class="col-md-12" align="center">

                <div class="col-md-6 row" style=" background: #fff; padding: 20px;">
                    <h3>Iniciar Sesión</h3>
                    <br>
                      <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Correo Electronico">
                      </div>
                    <br>
                    <br>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                      </div>
                    <br>
                    <br>
                    <a>¿Olvidastes tu contraseña?</a>
                    <br>
                    <br>
                    <a class="btntotal">Iniciar Sesión</a>
                    <br>
                    <br>
                    <span class="ln-1">No tienes una cuenta?<a [routerLink]="['../../registro','_']"> Registrate</a></span>
                    <br>
                    <br>
                    <div class="col-md-4">
                        <hr>
                    </div>
                    <div class="col-md-4 row">
                        <h6 class="ln-1">O inicia sesión con</h6>
                        <br>
                        <div class="col-md-6">
                        <a>
                            <img src="../../assets/Iconos/fa.webp" class="img-fluid">
                        </a>
                        </div>
                        <div class="col-md-6">
                        <a>
                            <img src="../../assets/Iconos/gmail.webp" class="img-fluid">
                        </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <hr>
                    </div>
                </div>

           </div>

         

          
            

          </div>
       </div>
    </div>
 </section>