

<!-- **colombia** -->

<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav" [style]="menucol">
    <div class="container px-5">
       <a class="navbar-brand fw-bold" href="#page-top"><img src="assets/nimg/logonuevo.webp" class="img-fluid" width="150"></a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
       Menu
       <i class="bi-list"></i>
       </button>
       <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0 menustandar">
             <li class="nav-item link"><a class="nav-link me-lg-3"  onclick="moverseb('app')">App</a></li>
             <li class="nav-item link"><a class="nav-link me-lg-3"  onclick="moverseA('novedad')">Novedades</a></li>
             <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../assets/nimg/colombia.svg" class="img-fluid"> CO 
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 200px;">
                   <li><a class="dropdown-item link" (click)="ir('honduras')"><img src="../assets/nimg/honduras.svg" class="img-fluid"> Honduras</a></li>
                    <li><a class="dropdown-item link" (click)="ir('colombia')"><img src="../assets/nimg/colombia.svg" class="img-fluid"> Colombia</a></li>
 
                    <li><a class="dropdown-item link"  (click)="ir('rd/_')"><img src="../assets/nimg/dominicana.svg" class="img-fluid"> Rep. Dominicana</a></li>
                    <li><a class="dropdown-item link"  (click)="ir('guatemala')"><img src="../assets/nimg/guatemala.svg" class="img-fluid">Guatemala</a></li>
                    <li><a class="dropdown-item link"  (click)="ir('elsalvador/_')" ><img src="../assets/nimg/elsalvador.svg" class="img-fluid">El Salvador</a></li>
                   
                </ul>
             </li>
          </ul>

       </div>
    </div>
  </nav>

<!-- **fin colombia*** -->

<!-- ****el salvador** -->

<nav class=" navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav" [style]="menues" >
    <div class="container px-5">
       <a class="navbar-brand fw-bold"  (click)="ir('elsalvador/_')"> 
          <img src="assets/nimg/logonuevo.webp" class="img-fluid" width="150">
      </a>
       <ul class="navbar-nav ms-auto me-4 my-1 my-lg-0 menuescritorio">
         <li class="nav-item link"><a class="nav-link me-lg-3"  onclick="moverseb('app')">App</a></li>
         <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 200px;">
               <li><a class="dropdown-item link" > Licores</a></li>
                <li><a class="dropdown-item link" > Vinos</a></li>

                <li><a class="dropdown-item link" >Cervezas</a></li>
                <li><a class="dropdown-item link" >No Alcohólicas</a></li>
                <li><a class="dropdown-item link"  >Extras</a></li>
                <li><a class="dropdown-item link"  >Kits</a></li>
                <li><a class="dropdown-item link" >Promociones</a></li>
               
            </ul>
         </li>
         <li class="nav-item link"><a class="nav-link me-lg-3"  onclick="moverseb('app')">Contact</a></li>
      </ul>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
       Menu
       <i class="bi-list"></i>
       </button>
       <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ms-auto me-4 my-1 my-lg-0 menumovil">
            <li class="nav-item link"><a class="nav-link me-lg-3"  onclick="moverseb('app')">App</a></li>
            <li class="nav-item dropdown ">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Productos
               </a>
               <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 200px;">
                  <li><a class="dropdown-item link" > Licores</a></li>
                   <li><a class="dropdown-item link" > Vinos</a></li>
   
                   <li><a class="dropdown-item link" >Cervezas</a></li>
                   <li><a class="dropdown-item link" >No Alcohólicas</a></li>
                   <li><a class="dropdown-item link"  >Extras</a></li>
                   <li><a class="dropdown-item link"  >Kits</a></li>
                   <li><a class="dropdown-item link" >Promociones</a></li>
                  
               </ul>
            </li>
            <li class="nav-item link"><a class="nav-link me-lg-3"  onclick="moverseb('app')">Contact</a></li>
            <li class="nav-item link">
               <!-- <a class="nav-link me-lg-3"  onclick="moverseb('app')" style="float: left;     padding-right: 20px;">
               <img src="../assets/Iconos/Cart.svg" class="img-fluid">
               </a>
               <a class="nav-link me-lg-3"  [routerLink]="['logines','_']">
                  <img src="../assets/Iconos/Perfil.svg" class="img-fluid">
               </a> -->
            </li>
             <li class="nav-item link"></li>
             <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../assets/nimg/elsalvador.svg" class="img-fluid"> SV
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 200px;">
                   <li><a class="dropdown-item link"  (click)="ir('honduras')"><img src="../assets/nimg/honduras.svg" class="img-fluid"> Honduras</a></li>
                    <li><a class="dropdown-item link" (click)="ir('colombia')"><img src="../assets/nimg/colombia.svg" class="img-fluid"> Colombia</a></li>
 
                    <li><a class="dropdown-item link"  (click)="ir('rd/_')"
                      ><img src="../assets/nimg/dominicana.svg" class="img-fluid"> Rep. Dominicana</a></li>
                    <li><a class="dropdown-item link"  (click)="ir('guatemala')"><img src="../assets/nimg/guatemala.svg" class="img-fluid">Guatemala</a></li>
                    <li><a class="dropdown-item link"  (click)="ir('elsalvador/_')"><img src="../assets/nimg/elsalvador.svg" class="img-fluid">El Salvador</a></li>
                   
                </ul>
             </li>
          </ul>
          <ul class="navbar-nav ms-auto me-4 my-1 my-lg-0 menuescritorio">
           <!--   <li class="nav-item link"><a class="nav-link me-lg-3"  onclick="moverseb('app')">
               <img src="../assets/Iconos/Cart.svg" class="img-fluid">
            </a></li> -->
            <!--  <li class="nav-item link"><a class="nav-link me-lg-3"  [routerLink]="['logines/','_']">
               <img src="../assets/Iconos/Perfil.svg" class="img-fluid">
            </a></li> -->
             <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../assets/nimg/elsalvador.svg" class="img-fluid"> SV
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 200px;">
                   <li><a class="dropdown-item link"(click)="ir('honduras')"   ><img src="../assets/nimg/honduras.svg" class="img-fluid"> Honduras</a></li>
                    <li><a class="dropdown-item link" (click)="ir('colombia')"   ><img src="../assets/nimg/colombia.svg" class="img-fluid"> Colombia</a></li>
 
                    <li><a class="dropdown-item link"  (click)="ir('rd/_')"><img src="../assets/nimg/dominicana.svg" class="img-fluid"> Rep. Dominicana</a></li>
                    <li><a class="dropdown-item link"  (click)="ir('guatemala')"><img src="../assets/nimg/guatemala.svg" class="img-fluid">Guatemala</a></li>
                    <li><a class="dropdown-item link"  (click)="ir('elsalvador/_')"><img src="../assets/nimg/elsalvador.svg" class="img-fluid">El Salvador</a></li>
                   
                </ul>
             </li>
          </ul>
       </div>
    </div>
  </nav>

  <!-- **login** -->

  <nav class=" navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav" [style]="menulogin" >
   <div class="container px-5" style="margin-left: 39%;">
      <a class="navbar-brand fw-bold"  [routerLink]="['/elsalvador/','_']"><img src="assets/nimg/logonuevo.webp" class="img-fluid"></a>
   </div>
 </nav>
  <!-- ***fin login*** -->
<!-- ***fin*** -->

<!-- **COSTA RICA** -->

<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav" [style]="menucosta">
   <div class="container px-5">
      <a class="navbar-brand fw-bold" href="#page-top"><img src="assets/nimg/logonuevo.webp" class="img-fluid"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="bi-list"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0 menustandar">
           <li class="nav-item link"><a class="nav-link me-lg-3"  onclick="moverseb('app')">App</a></li>
           <li class="nav-item link"><a class="nav-link me-lg-3"  onclick="moverseA('novedad')">Novedades</a></li>
            <li class="nav-item dropdown ">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               <img src="../assets/nimg/costarica.svg" class="img-fluid"> C. Rica
               </a>
               <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 200px;">
                  <li><a class="dropdown-item link" routerLink="/honduras"    ><img src="../assets/nimg/honduras.svg" class="img-fluid"> Honduras</a></li>
                  <li><a class="dropdown-item link" routerLink="/colombia"    ><img src="../assets/nimg/colombia.svg" class="img-fluid"> Colombia</a></li>
              <!--     <li><a class="dropdown-item link"  routerLink="/costarica"><img src="../assets/nimg/costarica.svg" class="img-fluid"> Costa Rica</a></li> -->
                  <li><a class="dropdown-item link"  [routerLink]="['/rd', '_']"     ><img src="../assets/nimg/dominicana.svg" class="img-fluid"> Rep. Dominicana</a></li>
                  <li><a class="dropdown-item link" routerLink="/guatemala"    ><img src="../assets/nimg/guatemala.svg" class="img-fluid">Guatemala</a></li>
                  <li><a class="dropdown-item link" [routerLink]="['/elsalvador/','_']"><img src="../assets/nimg/elsalvador.svg" class="img-fluid">El Salvador</a></li>
                 
               </ul>
            </li>
         </ul>
 
       <!--  <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal">
         <span class="d-flex align-items-center">
         <i class="bi-chat-text-fill me-2"></i>
         <span class="small">Send Feedback</span>
         </span>
         </button>-->
      </div>
   </div>
 </nav>
<!-- ** FIN*** -->

<!-- **GUATEMALA** -->
   <!-- End Meta Pixel Code -->
   
   <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav" [style]="menuguate">
      <div class="container px-5">
         <a class="navbar-brand fw-bold" href="#page-top"><img src="assets/nimg/logonuevo.webp" width="150" class="img-fluid"></a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         Menu
         <i class="bi-list"></i>
         </button>
         <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0 menustandar">
              <li class="nav-item link"><a class="nav-link me-lg-3"  onclick="moverseb('app')">App</a></li>
              <li class="nav-item link"><a class="nav-link me-lg-3"  onclick="moverseA('novedad')">Novedades</a></li>
               <li class="nav-item dropdown ">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="../assets/nimg/guatemala.svg" class="img-fluid"> GT 
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 200px;">
                     <li><a class="dropdown-item link" (click)="ir('honduras')"
                      ><img src="../assets/nimg/honduras.svg" class="img-fluid"> Honduras</a></li>
                      <li><a class="dropdown-item link" (click)="ir('colombia')"><img src="../assets/nimg/colombia.svg" class="img-fluid"> Colombia</a></li>
  
                      <li><a class="dropdown-item link"  (click)="ir('rd/_')"><img src="../assets/nimg/dominicana.svg" class="img-fluid"> Rep. Dominicana</a></li>
                      <li><a class="dropdown-item link"  (click)="ir('guatemala')"><img src="../assets/nimg/guatemala.svg" class="img-fluid">Guatemala</a></li>
                      <li><a class="dropdown-item link" (click)="ir('elsalvador/_')" ><img src="../assets/nimg/elsalvador.svg" class="img-fluid">El Salvador</a></li>
                     
                  </ul>
               </li>
            </ul>
         </div>
      </div>
    </nav>
<!-- **FIN GUATEMALA** -->

<!-- ** HONDURAS ** -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav" [style]="menuhondu">
   <div class="container px-5">
      <a class="navbar-brand fw-bold" href="#page-top"><img src="assets/nimg/logonuevo.webp" width="150" class="img-fluid"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="bi-list"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0 menustandar">
           <li class="nav-item link"><a class="nav-link me-lg-3"  onclick="moverseb('app')">App</a></li>
           <li class="nav-item link"><a class="nav-link me-lg-3"  onclick="moverseA('novedad')">Novedades</a></li>
            <li class="nav-item dropdown ">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               <img src="../assets/nimg/honduras.svg" class="img-fluid"> HN 
               </a>
               <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 200px;">
                  <li><a class="dropdown-item link" (click)="ir('honduras')"><img src="../assets/nimg/honduras.svg" class="img-fluid"> Honduras</a></li>
                   <li><a class="dropdown-item link" (click)="ir('colombia')"><img src="../assets/nimg/colombia.svg" class="img-fluid"> Colombia</a></li>

                   <li><a class="dropdown-item link"  (click)="ir('rd/_')"><img src="../assets/nimg/dominicana.svg" class="img-fluid"> Rep. Dominicana</a></li>
                   <li><a class="dropdown-item link"  (click)="ir('guatemala')"><img src="../assets/nimg/guatemala.svg" class="img-fluid">Guatemala</a></li>
                   <li><a class="dropdown-item link"  (click)="ir('elsalvador/_')"><img src="../assets/nimg/elsalvador.svg" class="img-fluid">El Salvador</a></li>
                  
               </ul>
            </li>
         </ul>
 
       <!--  <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal">
         <span class="d-flex align-items-center">
         <i class="bi-chat-text-fill me-2"></i>
         <span class="small">Send Feedback</span>
         </span>
         </button>-->
      </div>
   </div>
 </nav>
<!-- ** FIN ** -->

<!-- **RP** -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav" [style]="menurp">
   <div class="container px-5">
      <a class="navbar-brand fw-bold" href="#page-top"><img src="assets/nimg/rd/logord.webp" class="img-fluid" width="110"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="bi-list"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0 menustandar">
           <li class="nav-item link"><a class="nav-link me-lg-3"  onclick="moverseb('app')">App</a></li>
           <li class="nav-item link"><a class="nav-link me-lg-3"  onclick="moverseA('novedad')">Novedades</a></li>
            <li class="nav-item dropdown ">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               <img src="../assets/nimg/dominicana.svg" class="img-fluid"> DO 
               </a>
               <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 200px;">
                  <li><a class="dropdown-item link"  (click)="ir('honduras')"><img src="../assets/nimg/honduras.svg" class="img-fluid"> Honduras</a></li>
                   <li><a class="dropdown-item link" (click)="ir('colombia')"><img src="../assets/nimg/colombia.svg" class="img-fluid"> Colombia</a></li>

                   <li><a class="dropdown-item link"  (click)="ir('rd/_')"><img src="../assets/nimg/dominicana.svg" class="img-fluid"> Rep. Dominicana</a></li>
                   <li><a class="dropdown-item link" (click)="ir('guatemala')"><img src="../assets/nimg/guatemala.svg" class="img-fluid">Guatemala</a></li>
                   <li><a class="dropdown-item link"  (click)="ir('elsalvador/_')"
                    ><img src="../assets/nimg/elsalvador.svg" class="img-fluid">El Salvador</a></li>
                  
               </ul>
            </li>
         </ul>
 
       <!--  <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal">
         <span class="d-flex align-items-center">
         <i class="bi-chat-text-fill me-2"></i>
         <span class="small">Send Feedback</span>
         </span>
         </button>-->
      </div>
   </div>
 </nav>
<!-- **FIN RP** -->


<router-outlet></router-outlet>




<!-- **colombia** -->

  <!-- Footer-->
  <footer class="text-center text-lg-start bg-light text-muted"  [style]="footercol">
  

   <!-- Section: Links  -->
   <div   >
     <div class="container text-center text-md-start mt-5">
       <!-- Grid row -->
       <div class="row mt-3">
         <!-- Grid column -->
         <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
           <!-- Content -->
 
           <h6 class="text-uppercase fw-bold mb-4">
             <h3 class="text-uppercase fw-bold mb-4">Contáctanos</h3>
           </h6>
           <br>
           <h4>El Salvador</h4>
           <p>
            +503 21180405 <br>
           79 Av. Sur, pasaje A #222 Colonia San Benito, El Salvador<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> contacto@barlleno.app
          </p>
          <br>
           <h4>Guatemala</h4>
           <p>
           +502 41658892 <br>
           13 calle 4-60 zona 10 Ciudad de Guatemala<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> contacto.gt@barlleno.app
          </p>
          
         </div>
         <!-- Grid column -->
 
         <!-- Grid column -->
         <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
 
           <h6 class="text-uppercase fw-bold mb-4">
             <h3 class="text-uppercase fw-bold mb-4"><br></h3>
           </h6>
           <br>
           <h4>Colombia</h4>
           <p>
           +57 310 2769 987 <br>
           Cra 13 no 90-17 Bodega l, Colombia<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> contacto.bta@barlleno.app
          </p>
          <br>
           <h4>República Dominicana</h4>
           <p>
           +1(809) 770 3850 <br>
           Erick Leonard Eckman No. 15, República Dominicana<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i>contacto.rd@barlleno.app
          </p>
 
         </div>
         <!-- Grid column -->
 
         <!-- Grid column -->
         <div class="col-md-5 col-lg-4 col-xl-5 mx-auto mb-4">
           <h6 class="text-uppercase fw-bold mb-4">
             <h3 class="text-uppercase fw-bold mb-4"><br></h3>
           </h6>
           <br>
           <h4>¡Síguenos en nuestras redes sociales!</h4>
           <div class="row">
            <div class="col-lg-12">
             
               <a href="https://www.facebook.com/barlleno/">
               <img src="assets/nimg/face.svg" class="img-fluid" width="30">
               </a>

               <a href="https://www.instagram.com/accounts/login/">
               <img src="assets/nimg/instagram.svg" class="img-fluid" width="30">
               </a>

               <!-- <a href="https://sv.linkedin.com/company/premier-distributions">
                <img src="assets/nimg/in.svg" class="img-fluid" width="30">
               </a> -->
            </div>
            </div>
            <br>
            <br>
            <div class="row">
            <div class="col-lg-4">
               <img src="assets/nimg/mastercard.svg" class="img-fluid">
            </div>
            <div class="col-lg-4">
                  <img src="assets/nimg/visa.svg" class="img-fluid">
            </div>
            <div class="col-lg-4">
                <img src="assets/nimg/american.svg" class="img-fluid">
            </div>
            </div>
            <small>Copyright © 2021 All rights reserved | Premier Tec</small>
          
         </div>
         <!-- Grid column -->
 
       </div>
       <!-- Grid row -->
     </div>
   </div>
   <!-- Section: Links  -->
 
  
   <!-- Copyright -->
 </footer>


<!-- **fin colombia*** -->

<!-- ****el salvador** -->

  <!-- Footer-->
  <footer class="text-center text-lg-start bg-light text-muted"  [style]="footeres">
  

   <!-- Section: Links  -->
   <div   >
     <div class="container text-center text-md-start mt-5">
       <!-- Grid row -->
       <div class="row mt-3">
         <!-- Grid column -->
         <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
           <!-- Content -->
 
           <h6 class="text-uppercase fw-bold mb-4">
             <h3 class="text-uppercase fw-bold mb-4">Contáctanos</h3>
           </h6>
           <br>
           <h4>El Salvador</h4>
           <p>
            +503 21180405 <br>
           79 Av. Sur, pasaje A #222 Colonia San Benito, El Salvador<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> contacto@barlleno.app
          </p>
          <br>
           <h4>Guatemala</h4>
           <p>
           +502 41658892 <br>
           13 calle 4-60 zona 10 Ciudad de Guatemala<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> contacto.gt@barlleno.app
          </p>
          
         </div>
         <!-- Grid column -->
 
         <!-- Grid column -->
         <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
 
           <h6 class="text-uppercase fw-bold mb-4">
             <h3 class="text-uppercase fw-bold mb-4"><br></h3>
           </h6>
           <br>
           <h4>Colombia</h4>
           <p>
           +57 310 2769 987 <br>
           Cra 13 no 90-17 Bodega l, Colombia<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> contacto.bta@barlleno.app
          </p>
          <br>
           <h4>República Dominicana</h4>
           <p>
           +1(809) 770 3850 <br>
           Erick Leonard Eckman No. 15, República Dominicana<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i>contacto.rd@barlleno.app
          </p>
 
         </div>
         <!-- Grid column -->
 
         <!-- Grid column -->
         <div class="col-md-5 col-lg-4 col-xl-5 mx-auto mb-4">
           <h6 class="text-uppercase fw-bold mb-4">
             <h3 class="text-uppercase fw-bold mb-4"><br></h3>
           </h6>
           <br>
           <h4>¡Síguenos en nuestras redes sociales!</h4>
           <div class="row">
            <div class="col-lg-12">
             
               <a href="https://www.facebook.com/barlleno/">
               <img src="assets/nimg/face.svg" class="img-fluid" width="30">
               </a>

               <a href="https://www.instagram.com/barlleno/?hl=es-la">
               <img src="assets/nimg/instagram.svg" class="img-fluid" width="30">
               </a>

               <!-- <a href="https://sv.linkedin.com/company/premier-distributions">
                <img src="assets/nimg/in.svg" class="img-fluid" width="30">
               </a> -->
            </div>
            </div>
            <br>
            <br>
            <div class="row">
            <div class="col-lg-4">
               <img src="assets/nimg/mastercard.svg" class="img-fluid">
            </div>
            <div class="col-lg-4">
                  <img src="assets/nimg/visa.svg" class="img-fluid">
            </div>
            <div class="col-lg-4">
                <img src="assets/nimg/american.svg" class="img-fluid">
            </div>
            </div>
            <small>Copyright © 2021 All rights reserved | Premier Tec</small>
          
         </div>
         <!-- Grid column -->
 
       </div>
       <!-- Grid row -->
     </div>
   </div>
   <!-- Section: Links  -->
 
  
   <!-- Copyright -->
 </footer>

<!-- ***fin*** -->

<!-- **COSTA RICA** -->
<footer class="text-center text-lg-start bg-light text-muted"  [style]="footercosta">
  

   <!-- Section: Links  -->
   <div   >
     <div class="container text-center text-md-start mt-5">
       <!-- Grid row -->
       <div class="row mt-3">
         <!-- Grid column -->
         <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
           <!-- Content -->
 
           <h6 class="text-uppercase fw-bold mb-4">
             <h3 class="text-uppercase fw-bold mb-4">Contáctanos</h3>
           </h6>
           <br>
           <h4>El Salvador</h4>
           <p>
            +503 21180405 <br>
           79 Av. Sur, pasaje A #222 Colonia San Benito, El Salvador<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> contacto@barlleno.app
          </p>
          <br>
           <h4>Guatemala</h4>
           <p>
           +502 41658892 <br>
           13 calle 4-60 zona 10 Ciudad de Guatemala<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> contacto.gt@barlleno.app
          </p>
          
         </div>
         <!-- Grid column -->
 
         <!-- Grid column -->
         <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
 
           <h6 class="text-uppercase fw-bold mb-4">
             <h3 class="text-uppercase fw-bold mb-4"><br></h3>
           </h6>
           <br>
           <h4>Colombia</h4>
           <p>
           +57 310 2769 987 <br>
           Cra 13 no 90-17 Bodega l, Colombia<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> contacto.bta@barlleno.app
          </p>
          <br>
           <h4>República Dominicana</h4>
           <p>
           +1(809) 770 3850 <br>
           Erick Leonard Eckman No. 15, República Dominicana<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i>contacto.rd@barlleno.app
          </p>
 
         </div>
         <!-- Grid column -->
 
         <!-- Grid column -->
         <div class="col-md-5 col-lg-4 col-xl-5 mx-auto mb-4">
           <h6 class="text-uppercase fw-bold mb-4">
             <h3 class="text-uppercase fw-bold mb-4"><br></h3>
           </h6>
           <br>
           <h4>¡Síguenos en nuestras redes sociales!</h4>
           <div class="row">
            <div class="col-lg-12">
             
               <a href="https://www.facebook.com/barlleno/">
               <img src="assets/nimg/face.svg" class="img-fluid" width="30">
               </a>

               <a href="https://www.instagram.com/accounts/login/">
               <img src="assets/nimg/instagram.svg" class="img-fluid" width="30">
               </a>

               <!-- <a href="https://sv.linkedin.com/company/premier-distributions">
                <img src="assets/nimg/in.svg" class="img-fluid" width="30">
               </a> -->
            </div>
            </div>
            <br>
            <br>
            <div class="row">
            <div class="col-lg-4">
               <img src="assets/nimg/mastercard.svg" class="img-fluid">
            </div>
            <div class="col-lg-4">
                  <img src="assets/nimg/visa.svg" class="img-fluid">
            </div>
            <div class="col-lg-4">
                <img src="assets/nimg/american.svg" class="img-fluid">
            </div>
            </div>
            <small>Copyright © 2021 All rights reserved | Premier Tec</small>
          
         </div>
         <!-- Grid column -->
 
       </div>
       <!-- Grid row -->
     </div>
   </div>
   <!-- Section: Links  -->
 
  
   <!-- Copyright -->
 </footer>

<!-- ** FIN*** -->

<!-- **GUATEMALA** -->
<footer class="text-center text-lg-start bg-light text-muted"  [style]="fiiterguate">
  

   <!-- Section: Links  -->
   <div   >
     <div class="container text-center text-md-start mt-5">
       <!-- Grid row -->
       <div class="row mt-3">
         <!-- Grid column -->
         <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
           <!-- Content -->
 
           <h6 class="text-uppercase fw-bold mb-4">
             <h3 class="text-uppercase fw-bold mb-4">Contáctanos</h3>
           </h6>
           <br>
           <h4>El Salvador</h4>
           <p>
            +503 21180405 <br>
           79 Av. Sur, pasaje A #222 Colonia San Benito, El Salvador<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> contacto@barlleno.app
          </p>
          <br>
           <h4>Guatemala</h4>
           <p>
           +502 41658892 <br>
           13 calle 4-60 zona 10 Ciudad de Guatemala<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> contacto.gt@barlleno.app
          </p>
          
         </div>
         <!-- Grid column -->
 
         <!-- Grid column -->
         <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
 
           <h6 class="text-uppercase fw-bold mb-4">
             <h3 class="text-uppercase fw-bold mb-4"><br></h3>
           </h6>
           <br>
           <h4>Colombia</h4>
           <p>
           +57 310 2769 987 <br>
           Cra 13 no 90-17 Bodega l, Colombia<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> contacto.bta@barlleno.app
          </p>
          <br>
           <h4>República Dominicana</h4>
           <p>
           +1(809) 770 3850 <br>
           Erick Leonard Eckman No. 15, República Dominicana<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i>contacto.rd@barlleno.app
          </p>
 
         </div>
         <!-- Grid column -->
 
         <!-- Grid column -->
         <div class="col-md-5 col-lg-4 col-xl-5 mx-auto mb-4">
           <h6 class="text-uppercase fw-bold mb-4">
             <h3 class="text-uppercase fw-bold mb-4"><br></h3>
           </h6>
           <br>
           <h4>¡Síguenos en nuestras redes sociales!</h4>
           <div class="row">
            <div class="col-lg-12">
             
               <a href="https://www.facebook.com/barlleno/">
               <img src="assets/nimg/face.svg" class="img-fluid" width="30">
               </a>

               <a href="https://www.instagram.com/accounts/login/">
               <img src="assets/nimg/instagram.svg" class="img-fluid" width="30">
               </a>

               <!-- <a href="https://sv.linkedin.com/company/premier-distributions">
                <img src="assets/nimg/in.svg" class="img-fluid" width="30">
               </a> -->
            </div>
            </div>
            <br>
            <br>
            <div class="row">
            <div class="col-lg-4">
               <img src="assets/nimg/mastercard.svg" class="img-fluid">
            </div>
            <div class="col-lg-4">
                  <img src="assets/nimg/visa.svg" class="img-fluid">
            </div>
            <div class="col-lg-4">
                <img src="assets/nimg/american.svg" class="img-fluid">
            </div>
            </div>
            <small>Copyright © 2021 All rights reserved | Premier Tec</small>
          
         </div>
         <!-- Grid column -->
 
       </div>
       <!-- Grid row -->
     </div>
   </div>
   <!-- Section: Links  -->
 
  
   <!-- Copyright -->
 </footer>
<!-- **FIN GUATEMALA** -->

<!-- ** HONDURAS ** -->
<footer class="text-center text-lg-start bg-light text-muted"  [style]="footerhonfu">
  

   <!-- Section: Links  -->
   <div   >
     <div class="container text-center text-md-start mt-5">
       <!-- Grid row -->
       <div class="row mt-3">
         <!-- Grid column -->
         <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
           <!-- Content -->
 
           <h6 class="text-uppercase fw-bold mb-4">
             <h3 class="text-uppercase fw-bold mb-4">Contáctanos</h3>
           </h6>
           <br>
           <h4>El Salvador</h4>
           <p>
            +503 21180405 <br>
           79 Av. Sur, pasaje A #222 Colonia San Benito, El Salvador<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> contacto@barlleno.app
          </p>
          <br>
           <h4>Guatemala</h4>
           <p>
           +502 41658892 <br>
           13 calle 4-60 zona 10 Ciudad de Guatemala<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> contacto.gt@barlleno.app
          </p>
          
         </div>
         <!-- Grid column -->
 
         <!-- Grid column -->
         <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
 
           <h6 class="text-uppercase fw-bold mb-4">
             <h3 class="text-uppercase fw-bold mb-4"><br></h3>
           </h6>
           <br>
           <h4>Colombia</h4>
           <p>
           +57 310 2769 987 <br>
           Cra 13 no 90-17 Bodega l, Colombia<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> contacto.bta@barlleno.app
          </p>
          <br>
           <h4>República Dominicana</h4>
           <p>
           +1(809) 770 3850 <br>
           Erick Leonard Eckman No. 15, República Dominicana<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i>contacto.rd@barlleno.app
          </p>
 
         </div>
         <!-- Grid column -->
 
         <!-- Grid column -->
         <div class="col-md-5 col-lg-4 col-xl-5 mx-auto mb-4">
           <h6 class="text-uppercase fw-bold mb-4">
             <h3 class="text-uppercase fw-bold mb-4"><br></h3>
           </h6>
           <br>
           <h4>¡Síguenos en nuestras redes sociales!</h4>
           <div class="row">
            <div class="col-lg-12">
             
               <a href="https://www.facebook.com/barlleno/">
               <img src="assets/nimg/face.svg" class="img-fluid" width="30">
               </a>

               <a href="https://www.instagram.com/accounts/login/">
               <img src="assets/nimg/instagram.svg" class="img-fluid" width="30">
               </a>

               <!-- <a href="https://sv.linkedin.com/company/premier-distributions">
                <img src="assets/nimg/in.svg" class="img-fluid" width="30">
               </a> -->
            </div>
            </div>
            <br>
            <br>
            <div class="row">
            <div class="col-lg-4">
               <img src="assets/nimg/mastercard.svg" class="img-fluid">
            </div>
            <div class="col-lg-4">
                  <img src="assets/nimg/visa.svg" class="img-fluid">
            </div>
            <div class="col-lg-4">
                <img src="assets/nimg/american.svg" class="img-fluid">
            </div>
            </div>
            <small>Copyright © 2021 All rights reserved | Premier Tec</small>
          
         </div>
         <!-- Grid column -->
 
       </div>
       <!-- Grid row -->
     </div>
   </div>
   <!-- Section: Links  -->
 
  
   <!-- Copyright -->
 </footer>
<!-- ** FIN ** -->

<!-- **RP** -->
<footer class="text-center text-lg-start bg-light text-muted"  [style]="footerrp">
  

   <!-- Section: Links  -->
   <div   >
     <div class="container text-center text-md-start mt-5">
       <!-- Grid row -->
       <div class="row mt-3">
         <!-- Grid column -->
         <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
           <!-- Content -->
           <h6 class="text-uppercase fw-bold mb-4">
            <h3 class="text-uppercase fw-bold mb-4">Contáctanos</h3>
          </h6>
          <br>
           <h4>República Dominicana</h4>
           <p>
           +1(809) 770 3850 <br>
           Erick Leonard Eckman No. 15, República Dominicana<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i>contacto.rd@barlleno.app
          </p>
          <!--  <h6 class="text-uppercase fw-bold mb-4">
             <h3 class="text-uppercase fw-bold mb-4">Contáctanos</h3>
           </h6>
           <br>
           <h4>El Salvador</h4>
           <p>
            +503 21180405 <br>
           79 Av. Sur, pasaje A #222 Colonia San Benito, El Salvador<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> contacto@barlleno.app
          </p>
          <br>
           <h4>Guatemala</h4>
           <p>
           +502 41658892 <br>
           13 calle 4-60 zona 10 Ciudad de Guatemala<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> contacto.gt@barlleno.app
          </p> -->
          
         </div>
         <!-- Grid column -->
 
         <!-- Grid column -->
         <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
 
           <!-- <h6 class="text-uppercase fw-bold mb-4">
             <h3 class="text-uppercase fw-bold mb-4"><br></h3>
           </h6>
           <br>
           <h4>Colombia</h4>
           <p>
           +57 310 2769 987 <br>
           Cra 13 no 90-17 Bodega l, Colombia<br>
           <i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> contacto.bta@barlleno.app
          </p> -->
          <br>

 
         </div>
         <!-- Grid column -->
 
         <!-- Grid column -->
         <div class="col-md-5 col-lg-4 col-xl-5 mx-auto mb-4">
           <h6 class="text-uppercase fw-bold mb-4">
             <h3 class="text-uppercase fw-bold mb-4"><br></h3>
           </h6>
           <br>
           <h4>¡Síguenos en nuestras redes sociales!</h4>
           <div class="row">
            <div class="col-lg-12">
             
               <a href="https://www.facebook.com/Barllenord">
               <img src="assets/nimg/face.svg" class="img-fluid" width="30">
               </a>

               <a href="https://www.instagram.com/barllenord/?hl=es-la">
               <img src="assets/nimg/instagram.svg" class="img-fluid" width="30">
               </a>

               <!-- <a href="https://sv.linkedin.com/company/premier-distributions">
                <img src="assets/nimg/in.svg" class="img-fluid" width="30">
               </a> -->
            </div>
            </div>
            <br>
            <br>
            <div class="row">
            <div class="col-lg-4">
               <img src="assets/nimg/mastercard.svg" class="img-fluid">
            </div>
            <div class="col-lg-4">
                  <img src="assets/nimg/visa.svg" class="img-fluid">
            </div>
            <div class="col-lg-4">
                <img src="assets/nimg/american.svg" class="img-fluid">
            </div>
            </div>
            <small>Copyright © 2021 All rights reserved | Premier Tec</small>
          
         </div>
         <!-- Grid column -->
 
       </div>
       <!-- Grid row -->
     </div>
   </div>
   <!-- Section: Links  -->
 
  
   <!-- Copyright -->
 </footer>

<!-- **FIN RP** -->