

<section id="novedad">
    <div class="container px-5">
       <div class="row gx-5 align-items-center">
          <div class="col-lg-12 order-lg-0" align="center">
             <!-- Features section device mockup-->
             <br>
             <br>
             <br>
             <br>
               <carousel 
                  [overflowCellsLimit]="9"
                  objectFit="cover"
                  [cellWidth]="'100%'"
                  [autoplay]="true"
                  [loop]="true"
                  [cellsToShow]="numerodebanner"
                  [style.height]="numero"
                 >
                     <div class="carousel-cell"  >
                         <img src="assets/nimg/c1.webp" style="object-fit: cover;">
                     </div>
                     <div class="carousel-cell">
                        <img src="assets/nimg/c2.webp" style="object-fit: cover;">
                     </div>
                     <div class="carousel-cell">
                        <img src="assets/nimg/c3.webp" style="object-fit: cover;">
                     </div>
                     <div class="carousel-cell" >
                        <img src="assets/nimg/c1.webp" style="object-fit: cover;">
                     </div>
                     <!-- ***new** -->
                     <div class="carousel-cell" >
                        <img src="assets/nbanner/Promo1.webp" style="object-fit: cover;">
                     </div>
                     <div class="carousel-cell" >
                        <img src="assets/nbanner/Promo2.webp" style="object-fit: cover;">
                     </div>
                     <div class="carousel-cell" >
                        <img src="assets/nbanner/Promo3.webp" style="object-fit: cover;">
                     </div>
                     <div class="carousel-cell" >
                        <img src="assets/nbanner/Promo4.webp" style="object-fit: cover;">
                     </div>
                     <div class="carousel-cell" >
                        <img src="assets/nbanner/Promo5.webp" style="object-fit: cover;">
                     </div>
                     <div class="carousel-cell" >
                        <img src="assets/nbanner/Promo6.webp" style="object-fit: cover;">
                     </div>
               </carousel>

          </div>
       </div>
    </div>
 </section>


 <section id="novedad">
    <div class="container px-5">
       <div class="row gx-5 align-items-center">
          <div class="col-md-12">
            <h3 class="lh-1">Licores</h3>
          </div>
          <div class="col-lg-4 col-md-12 order-lg-0 menuacordeon" align="">
             <!-- Features section device mockup-->
             <h4 class="lh-1">Categorias</h4>
            <!-- **menu** -->
            <div class="categoriamovil" style="position:relative;">
               <div class="scategoria elemento1" >
               <span  onclick="mostrarcategoria(this)"  class="btntotal" title="0"> Seleccione la categoria</span>
               <ul id="accordion2" class="accordion cmenumovil">
                  <li class="lista"  *ngFor="let c of categorias" (click)="Scategpria(c.categoria)">
                      <div class="link" >
                        <div style="width: 80%; float: left;">
                           <a  onclick="ocultarc(this)" (click)="Scategpria2(c.categoria)">  {{c.categoria}}</a>
                        </div>
                        <div class="col-md">
                           <img src="../../assets/Flechas/abajo.svg" class="img-fluid">
                        </div>
                       </div>
                      <ul class="submenu">
                          <li class="sublista" *ngFor="let s of subcategoriasfiltro" (click)="categpria(s.subcategoria)">
                             <a onclick="ocultarc(this)">{{s.subcategoria}}</a>
                          </li>
                      </ul>
                  </li>
              </ul>
                </div>
            </div>
           
            <ul id="accordion" class="accordion categoriaescritorio">
               <li class="lista"  *ngFor="let c of categorias" (click)="Scategpria(c.categoria)">
                  <div class="link" >
                    <div style="width: 80%; float: left;">
                       <a  onclick="ocultarc(this)" (click)="Scategpria2(c.categoria)">  {{c.categoria}}</a>
                    </div>
                    <div class="col-md">
                       <img src="../../assets/Flechas/abajo.svg" class="img-fluid">
                    </div>
                   </div>
                  <ul class="submenu">
                      <li class="sublista" *ngFor="let s of subcategoriasfiltro" (click)="categpria(s.subcategoria)">
                         <a onclick="ocultarc(this)">{{s.subcategoria}}</a>
                      </li>
                  </ul>
              </li>
               <!-- <li class="lista"  *ngFor="let c of categorias" (click)="Scategpria(c.categoria)">
                  <div class="link " >
                     <div style="width: 80%; float: left;">
                      <a   (click)="Scategpria2(c.categoria)">  {{c.categoria}}</a>
                     </div>
                     <div class="col-md">
                        <img src="../../assets/Flechas/abajo.svg" class="img-fluid">
                     </div>
                   </div>
                  <ul class="submenu">
                      <li class="sublista" *ngFor="let s of subcategoriasfiltro" (click)="categpria(s.subcategoria)">
                         <a >{{s.subcategoria}}</a>
                      </li>
                  </ul>
              </li> -->
           </ul>


            <!-- **fin menu** -->
            <div class="categoriaescritorio">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
          </div>
          <div class="col-lg-8 col-md-12 order-lg-0 row" align="">
             <div class="col-md-12">
               <br>
               <br>
             </div>
            <!-- Features section device mockup-->
            <div class="col-md-6">
               <p>Licores >  {{categoria}}</p>
            </div>
            <div class="col-md-6">
               <span>Ordenar por
               <select class="css-inputf">
                  <option>Mejor resultado</option>
                  <option>Menor a Mayor</option>
                  <option>Mayor a Menor</option>
               </select></span>
            </div>
     
            <br>
            <br>
            <ul class="row" style="list-style: none;">
               <li class="col-xl-3 col-lg-4  col-md-6 row" *ngFor="let c of newarray | paginate:{itemsPerPage: 12, currentPage: pages}" style="    margin-bottom: 10px;" (click)="abrirmodal()">
                  <div class="col-md-12" >
                     <!-- <a [routerLink]="['../../../elsalvador/detalle/',c.positionId, '_']"> -->
                     <img src="{{c.imagen}}" alt="Cargando imagen..." class="img-fluid">
                     <!-- </a> -->
                     <br>
                     <br>
                     <h6 class="h6line">{{c.nombre}}</h6>
                  </div>
                  <div class="col-md-6">
                     <p class="">{{c.descripcion}}</p>
                  </div>
                  <div class="col-md-6">
                     <p style="color:#008ef0;">{{c.precio}}</p>
                  </div>
                  <div class="col-md-12">
                     <!-- <button class="botoncarrucel " style="">Agregar</button> -->
                  </div>
               </li>
            </ul>
            <pagination-controls (pageChange)="pages = $event"></pagination-controls>
            
          </div>
         
       </div>
    </div>
 </section>

 <!-- *********** -->

 
<!-- The Modal -->
<div id="myModal" class="modalcss {{mostrar}}" >

   <!-- Modal content -->
   <div class="modal-contentcss">
     <span class="close" (click)="cerrarmodal()">&times;</span>
     

     <!-- ******contenido****** -->

     <div class="row">
      
      <div class="col-md-5">
              <div class="swiffy-slider slider-item-ratio slider-item-ratio-1x1 slider-nav-round slider-nav-nodelay" id="pgallery">
                  <ul class="slider-container">
                      <li>
                    

                        <div class="img-hover-zoom">
                           <img src="../assets/Botellas/YellowRoseAmerican.png" alt="This zooms-in really well and smooth" width="350">
                         </div>
                      </li>
                     
                  </ul>
                  <button type="button" class="slider-nav" aria-label="Go previous"></button>
                  <button type="button" class="slider-nav slider-nav-next" aria-label="Go next"></button>
              </div>
      </div>

      <!-- **div** -->
      <div class="col-md-7" align="left">
         <ul id="" class="" style="list-style: none;">
             <li class="row"   >
                 <h4 class="ln-1">Nombre del Producto</h4>
                 <p>46% ADV</p>
                 <br>
                 <br>
                 <h6 class="ln-1">
                     El Outlaw Bourbon tiene un sabor intenso con matices cálidos de caramelo y vainilla. Se elabora con maiz amarillo 100% de Texas y de envejece en pequeñas barricas de roble americano en Houston. Un sorbo y creemos que estará de acuerdo en qe nunca ha probado nada igual.
                 </h6>
                 <div class="col-md-3" (click)="precio(79.50)">
                     <div class="fondo">
                         <p>750 ml</p>
                         <h6>$ 79.50</h6>
                     </div>
                 </div>
                 <div class="col-md-3 " (click)="precio(64.50)">
                     <div class="fondo">
                         <p>500 ml</p>
                         <h6>$ 64.50</h6>
                     </div>
                 </div>
                 <div class="col-md-3 " (click)="precio(120.99)">
                     <div class="fondo">
                         <p>2 pack-500ml</p>
                         <h6>$ 120.99</h6>
                     </div>
                 </div>
                 <div class="col-md-3 " (click)="precio(49.99)">
                     <div class="fondo">
                         <p>375 ml</p>
                         <h6>$ 49.99</h6>
                     </div>
                 </div>
                 <div class="col-md-12"><br></div>
                 <div class="col-md-6">
                     <span class="ln-1">
                         Cantidad
                         <button class="botoncontador resta" (click)="resta()">-</button>
                         <span>1</span>
                         <button class="botoncontador suma" (click)="suma()">+</button>
                     </span>
                 </div>
                 <div class="col-md-6">
                     <a class="btntotal " style="" [routerLink]="['../../../../elsalvador/carrito/']">Agregar al carrito $00.00</a>
                 </div>

             </li>
         </ul>
     </div>
     <!-- **fin** -->


  </div>
      <!-- *****fin contenido***** -->

   </div>
 
 </div>


<!--  ****** -->