

      <!-- Facebook Pixel Code el salvador -->

      <script>
         !function(f,b,e,v,n,t,s)
         {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
         n.callMethod.apply(n,arguments):n.queue.push(arguments)};
         if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
         n.queue=[];t=b.createElement(e);t.async=!0;
         t.src=v;s=b.getElementsByTagName(e)[0];
         s.parentNode.insertBefore(t,s)}(window, document,'script',
         'https://connect.facebook.net/en_US/fbevents.js');
         fbq('init', '1343965282688076');
         fbq('track', 'PageView');
         </script>
         <noscript><img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=1343965282688076&ev=PageView&noscript=1"
         /></noscript>
         
         <!-- End Facebook Pixel Code -->

 <!-- Mashead header-->
 <header class="masthead" id="app">
   <div class="container px-5">
      <div class="row gx-5 align-items-center">
         <div class="col-lg-6 col-md-6" >
            <!-- Mashead text and app badges-->
            <div class="mb-5 mb-lg-0 text-center" style="align-content: center;">
               <h2  >La primer</h2>
               <h1   style="color: #e84138;">Drink Delivery App</h1>
               <h2>de la región</h2>
               <br>
               <h4>Descargála</h4>
               <div class="d-flex flex-column flex-lg-row align-items-center" align="center">
                 
                  <a class="me-lg-3 mb-4 mb-lg-0" href="https://play.google.com/store/apps/details?id=app.barlleno.premier ">
                    <img class="app-badge" src="../assets/nicon/google.svg" alt="..." />
                  </a>
                  <a href="https://apps.apple.com/us/app/barlleno/id1506149704?l=es&ls=1" class="me-lg-3 mb-4 mb-lg-0">
                    <img class="app-badge" src="../assets/nicon/appstore.svg" alt="..." />
                  </a>
                  <a href="https://appgallery.huawei.com/#/app/C102795087">
                    <img class="app-badge" src="../assets/nicon/appgallery.svg" alt="..." />
                  </a>
                  
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-md-6">
            <!-- Masthead device mockup feature-->
 
            <img src="assets/nimg/celularsv.webp" class="img-fluid moverimg">
           
         </div>
      </div>
   </div>
 </header>


 <!-- **********CARRUCEL NEW************** -->

<!-- 

 <div class="swiffy-slider slider-item-show4 slider-nav-outside slider-nav-dark slider-nav-sm slider-nav-visible slider-nav-page slider-item-snapstart slider-nav-autoplay slider-nav-autopause slider-item-ratio slider-item-ratio-contain slider-item-ratio-32x9 bg-white shadow-lg py-3 py-lg-4" data-slider-nav-autoplay-interval="2000">
   <div class="slider-container" style=" width: 90%;">
       <div>
         <img src="assets/Marcas/Absolut.svg" >
       </div>
       <div>
         <img src="../../assets/Marcas/Baileys.svg" >
       </div>
       <div>
         <img src="../../assets/Marcas/Bluemoon.svg" >
       </div>
       <div>
         <img src="../../assets/Marcas/Bols.svg" >
      </div>
      <div>
         <img src="../../assets/Marcas/Botran.svg" >
      </div>
      <div>
         <img src="../../assets/Marcas/Bulldog.svg" >
      </div>
      <div>
         <img src="../../assets/Marcas/Chivas.svg" >
      </div>
      <div>
         <img src="../../assets/Marcas/Cihuatan.svg" >
      </div>
      <div>
         <img src="../../assets/Marcas/Corona.svg" >
      </div>
      <div>
         <img src="../../assets/Marcas/Delirium.svg" >
      </div>
      <div>
         <img src="../../assets/Marcas/DonJulio.svg" >
      </div>
      <div>
         <img src="../../assets/Marcas/florcana.svg" >
      </div>
      <div>
         <img src="../../assets/Marcas/Heineken.svg" >
      </div>
      <div>
         <img src="../../assets/Marcas/Jager.svg" >
      </div>
      <div>
         <img src="../../assets/Marcas/Josecuervo.svg" >
      </div>
      <div>
         <img src="../../assets/Marcas/JWalker.svg" >
      </div>
      <div>
         <img src="../../assets/Marcas/Montelobos.svg" >
      </div>
      <div>
         <img src="../../assets/Marcas/Smirnoff.svg" >
      </div>
      <div>
         <img src="../../assets/Marcas/Tanqueray.svg" >
      </div>
      <div>
         <img src="../../assets/Marcas/Zacapa.svg" >
      </div>
      
   </div>

   <button type="button" class="slider-nav" aria-label="Go left"></button>
   <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

</div> -->

<!-- *****************FIN************** -->

<section id="novedad">
    <div class="container px-5">
       <div class="row gx-5 align-items-center">
       

         


          <div class="col-lg-12 order-lg-0" align="center">
             <!-- Features section device mockup-->
             

               <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">

                  <div class="carousel-inner">
                        <div class="carousel-item active">
                                    <img src="assets/nimg/banner2.webp" class="img-fluid">
                        </div>

                        <div class="carousel-item ">
                           <img src="assets/nimg/b2.webp" class="img-fluid">
                        </div>

                        <div class="carousel-item ">
                           <img src="assets/nimg/b3.webp" class="img-fluid">
                        </div>
                        <!-- ***new** -->
                        <div class="carousel-item ">
                           <img src="assets/nbanner/Rectangle4.webp" class="img-fluid">
                        </div>

                    </div>

                
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <br>


                <!-- ***** -->

                <div class="swiffy-slider slider-item-show3 slider-nav-round slider-nav-page" bis_skin_checked="1">
                  <ul class="slider-container">
                      <li>
                        <img src="../assets/nimg/c1.webp" class="card-img-top" loading="lazy" alt="...">
                      </li>
                      <li>
                        <img src="../assets/nbanner/Promo1.webp" class="card-img-top" loading="lazy" alt="...">
                      </li>
                      <li>
                        <img src="../assets/nbanner/Promo2.webp" class="card-img-top" loading="lazy" alt="...">
                      </li>
                      <li>
                        <img src="../assets/nbanner/Promo3.webp" class="card-img-top" loading="lazy" alt="...">
                      </li>
                      <li>
                        <img src="../assets/nbanner/Promo4.webp" class="card-img-top" loading="lazy" alt="...">
                      </li>
                      <li>
                        <img src="../assets/nbanner/Promo5.webp" class="card-img-top" loading="lazy" alt="...">
                      </li>
                      <li>
                        <img src="../assets/nbanner/Promo6.webp" class="card-img-top" loading="lazy" alt="...">
                      </li>
                  </ul>
              
                  <button type="button" class="slider-nav" aria-label="Go left"></button>
                  <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
              </div>

                <!-- ***** -->
          </div>
       </div>
    </div>
 </section>

 <!-- ****nuevo categoria** -->

 <section >
   <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
         <div class="col-12 col-lg-12" align="center">
            <h1 class=" lh-1 ">Ours Products</h1>
           <div style="z-index: 1;">
           

            <div class="swiffy-slider slider-item-show5 slider-nav-round slider-nav-page slider-item-reveal" bis_skin_checked="3" style="--swiffy-slider-item-count:4 !important;">
               <ul class="slider-container">
                  <li  *ngFor="let c of producto " style="margin-bottom: 10px;">
                     <div class="col-md-12" >
                        <a [routerLink]="['../../elsalvador/detalle/',c.positionId, '_']">
                        <img src="{{c.imagen}}" alt="Cargando imagen..." class="img-fluid">
                        </a>
                        <br>
                        <br>
                        <h6 class="h6line">{{c.nombre}}</h6>
                     </div>
                     <div class="col-md-6">
                        <p >{{c.descripcion}}</p>
                     </div>
                     <div class="col-md-6">
<!--                         <p style="color:#008ef0;">{{c.precio}}</p> -->
                     </div>
                     <div class="col-md-12">
                       <!--  <button class="botoncarrucel " style="">Agregar</button> -->
                     </div>
                  </li>
             </ul>
             <button type="button" class="slider-nav" aria-label="Go left"></button>
             <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
            </div>
            <br>
            <a [routerLink]="['../../elsalvador/product', '_']" style="text-decoration: none;">
               <h5 class="h5line">View all <img src="../../assets/Flechas/derecha.svg"></h5>
            </a>
        </div>



           
         </div>
      </div>
   </div>
</section>

 <!-- ***fin nueva*** -->

 <section class="bg-light">
    <div class="container px-5">
       <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
          <div class="col-12 col-lg-12" align="center">
             <h1 class=" lh-1 ">Trendy Cocktails</h1>
            <div style="z-index: 1;">

                  <!-- **** -->
                  <div class="swiffy-slider slider-item-show6 slider-nav-round slider-nav-page" bis_skin_checked="1">
                     <ul class="slider-container">
                         <li onclick="myFunction(this)" class="elemento1" data-bs-toggle="modal" data-bs-target="#feedbackModal">

                              <img src="../assets/nimg/p1.webp" class="card-img-top" loading="lazy" alt="..." >

                                                
                              <!--************************************************************-->
                              <span style="display: none;"  class="titulo" title="Bloody Mary"></span>
                              <span style="display: none;"  class="ingrediente" title="Ingredientes"></span>
                              <span style="display: none;"  class="ingrediente1" title="Vodka"></span>
                              <span style="display: none;"  class="ingrediente2" title="Zumo de Limón"></span>
                              <span style="display: none;"  class="ingrediente3" title="Zumo de Tomate"></span>
                              <span style="display: none;"  class="ingrediente4" title="Salsa picante"></span>
                              <span style="display: none;"  class="ingrediente5" title="Salsa Negra o Salsa Perrins"></span>
                              <span style="display: none;"  class="ingrediente6" title="Sal y pimienta"></span>
                              <span style="display: none;"  class="ingrediente7" title="Hielo"></span>
                              <span style="display: none;"  class="ingrediente8" title="Garnish: Tronco de apio y aceitunas"></span>
                              <span style="display: none;"  class="ingrediente9" title=""></span>
                              <span style="display: none;"  class="ingrediente10" title=""></span>
                              <span style="display: none;"  class="medida1" title="60 ml"></span>
                              <span style="display: none;"  class="medida2" title="15 ml"></span>
                              <span style="display: none;"  class="medida3" title="180 ml"></span>
                              <span style="display: none;"  class="medida4" title="¼ cucharadita"></span>
                              <span style="display: none;"  class="medida5" title="½ cucharada"></span>
                              <span style="display: none;"  class="medida6" title="Al gusto"></span>
                              <span style="display: none;"  class="medida7" title="3 pcs"></span>
                              <span style="display: none;"  class="medida8" title="2 pcs"></span>
                              <span style="display: none;"  class="medida9" title=""></span>
                              <span style="display: none;"  class="medida10" title=""></span>
                              <span style="display: none;"  class="prepara1" title="Añade el vodka en un vaso alto, el hielo la salsa picante, la salsa negra, el zumo de limón, sal y pimienta."></span>
                              <span style="display: none;"  class="prepara2" title="Remover utilizando una varilla o cuchara."></span>
                              <span style="display: none;"  class="prepara3" title="Finalmente completa el vaso con el zumo de tomate."></span>
                              <span style="display: none;"  class="prepara4" title="Decora con un tallo de apio y aceitunas en un palillo de madera."></span>
                              <span style="display: none;"  class="prepara5" title=""></span>
                              <span style="display: none;"  class="prepara6" title=""></span>
                              <span style="display: none;"  class="prepara7" title=""></span>
                              <span style="display: none;"  class="imagen" title="assets/nimg/p1.webp"></span>
                              <!--************************************************************-->

                           
                           
                         </li>
                         <li onclick="myFunction(this)" class="elemento1" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                           <img src="../assets/nimg/p2.webp" class="card-img-top" loading="lazy" alt="...">

                           
             <!--************************************************************-->
            <span style="display: none;"  class="titulo" title="Sunset Oaxaqueño"></span>
            <span style="display: none;"  class="ingrediente" title="Ingredientes"></span>
            <span style="display: none;"  class="ingrediente1" title="Mezcal Montelobos Tobalá o Espadin"></span>
            <span style="display: none;"  class="ingrediente2" title="Jugo de Granadina"></span>
            <span style="display: none;"  class="ingrediente3" title="Jugo de Naranja"></span>
            <span style="display: none;"  class="ingrediente4" title="Cubos de Hielo"></span>
            <span style="display: none;"  class="ingrediente5" title="Garnish:Rodaja de Naranja y cereza"></span>
            <span style="display: none;"  class="ingrediente6" title=""></span>
            <span style="display: none;"  class="ingrediente7" title=""></span>
            <span style="display: none;"  class="ingrediente8" title=""></span>
            <span style="display: none;"  class="ingrediente9" title=""></span>
            <span style="display: none;"  class="ingrediente10" title=""></span>
            <span style="display: none;"  class="medida1" title="30 ml"></span>
            <span style="display: none;"  class="medida2" title="80 ml"></span>
            <span style="display: none;"  class="medida3" title="100 ml"></span>
            <span style="display: none;"  class="medida4" title="3 pcs"></span>
            <span style="display: none;"  class="medida5" title="2 pcs"></span>
            <span style="display: none;"  class="medida6" title=""></span>
            <span style="display: none;"  class="medida7" title=""></span>
            <span style="display: none;"  class="medida8" title=""></span>
            <span style="display: none;"  class="medida9" title=""></span>
            <span style="display: none;"  class="medida10" title=""></span>
            <span style="display: none;"  class="prepara1" title="Coloca los cubos de hielo en un vaso corto"></span>
            <span style="display: none;"  class="prepara2" title="Agrega el mezcal, jugo de granadina, jugo de naranja y mezcla"></span>
            <span style="display: none;"  class="prepara3" title="Adorna con una rodaja de naranja y cereza"></span>
            <span style="display: none;"  class="prepara4" title=""></span>
            <span style="display: none;"  class="prepara5" title=""></span>
            <span style="display: none;"  class="prepara6" title=""></span>
            <span style="display: none;"  class="prepara7" title=""></span>
            <span style="display: none;"  class="imagen" title="assets/nimg/p2.webp"></span>
            <!--************************************************************-->


                         </li>
                         <li onclick="myFunction(this)" class="elemento1" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                           <img src="../assets/nimg/p3.webp" class="card-img-top" loading="lazy" alt="...">

                           
             <!--************************************************************-->
             <span style="display: none;"  class="titulo" title="Moscow Mule"></span>
             <span style="display: none;"  class="ingrediente" title="Ingredientes"></span>
             <span style="display: none;"  class="ingrediente1" title="Vodka"></span>
             <span style="display: none;"  class="ingrediente2" title="Zumo de limón"></span>
             <span style="display: none;"  class="ingrediente3" title="Ginger Beer"></span>
             <span style="display: none;"  class="ingrediente4" title="Hielo"></span>
             <span style="display: none;"  class="ingrediente5" title="Rodajas de Limón"></span>
             <span style="display: none;"  class="ingrediente6" title="Garnish: Moras y hierbabuena"></span>
             <span style="display: none;"  class="ingrediente7" title=""></span>
             <span style="display: none;"  class="ingrediente8" title=""></span>
             <span style="display: none;"  class="ingrediente9" title=""></span>
             <span style="display: none;"  class="ingrediente10" title=""></span>
             <span style="display: none;"  class="medida1" title="50 ml"></span>
             <span style="display: none;"  class="medida2" title="30 ml"></span>
             <span style="display: none;"  class="medida3" title="250 ml"></span>
             <span style="display: none;"  class="medida4" title="4 pcs"></span>
             <span style="display: none;"  class="medida5" title="4 pcs"></span>
             <span style="display: none;"  class="medida6" title="4 pcs"></span>
             <span style="display: none;"  class="medida7" title=""></span>
             <span style="display: none;"  class="medida8" title=""></span>
             <span style="display: none;"  class="medida9" title=""></span>
             <span style="display: none;"  class="medida10" title=""></span>
             <span style="display: none;"  class="prepara1" title="En un vaso de aluminio añade el hielo, el zumo de limón y vodka. Revuelve ligeramente."></span>
             <span style="display: none;"  class="prepara2" title="Añade rodajas de limón y completa el vaso con Ginger Beer"></span>
             <span style="display: none;"  class="prepara3" title="Decora el vaso con hierbabuena y moras a tu gusto."></span>
             <span style="display: none;"  class="prepara4" title=""></span>
             <span style="display: none;"  class="prepara5" title=""></span>
             <span style="display: none;"  class="prepara6" title=""></span>
             <span style="display: none;"  class="prepara7" title=""></span>
             <span style="display: none;"  class="imagen" title="assets/nimg/p3.webp"></span>
             <!--************************************************************-->

                         </li>
                         <li onclick="myFunction(this)" class="elemento1" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                           <img src="../assets/nimg/p4.webp" class="card-img-top" loading="lazy" alt="...">

                           
<!--************************************************************-->
              <span style="display: none;"  class="titulo" title="Spicy Pineapple"></span>
              <span style="display: none;"  class="ingrediente" title="Ingredientes"></span>
              <span style="display: none;"  class="ingrediente1" title="Tequila"></span>
              <span style="display: none;"  class="ingrediente2" title="Jugo de Piña"></span>
              <span style="display: none;"  class="ingrediente3" title="Zumo de limón"></span>
              <span style="display: none;"  class="ingrediente4" title="Triple Sec"></span>
              <span style="display: none;"  class="ingrediente5" title="Sal y chile tajín en polvo"></span>
              <span style="display: none;"  class="ingrediente6" title="Garnish: Rodaja de Jalapeño y piña"></span>
              <span style="display: none;"  class="ingrediente7" title=""></span>
              <span style="display: none;"  class="ingrediente8" title=""></span>
              <span style="display: none;"  class="ingrediente9" title=""></span>
              <span style="display: none;"  class="ingrediente10" title=""></span>
              <span style="display: none;"  class="medida1" title="50 ml"></span>
              <span style="display: none;"  class="medida2" title="200 ml"></span>
              <span style="display: none;"  class="medida3" title="30 ml"></span>
              <span style="display: none;"  class="medida4" title="15 ml"></span>
              <span style="display: none;"  class="medida5" title="Al gusto"></span>
              <span style="display: none;"  class="medida6" title="2 pcs"></span>
              <span style="display: none;"  class="medida7" title=""></span>
              <span style="display: none;"  class="medida8" title=""></span>
              <span style="display: none;"  class="medida9" title=""></span>
              <span style="display: none;"  class="medida10" title=""></span>
              <span style="display: none;"  class="prepara1" title="En un plato plano, mezcle la sal con el chile tajín y escarcha un vaso de vidrio."></span>
              <span style="display: none;"  class="prepara2" title="Machacar una rodaja de jalapeño con el jugo de limón en una coctelera."></span>
              <span style="display: none;"  class="prepara3" title="Coloque el hielo, tequila, jugo de piña y triple sec en la coctelera y agite."></span>
              <span style="display: none;"  class="prepara4" title="En el vaso de vidrio previamente escarchado, vierta la mezcla y decore con piña y jalapeño."></span>
              <span style="display: none;"  class="prepara5" title=""></span>
              <span style="display: none;"  class="prepara6" title=""></span>
              <span style="display: none;"  class="prepara7" title=""></span>
              <span style="display: none;"  class="imagen" title="assets/nimg/p4.webp"></span>
              <!--************************************************************-->

                         </li>
                         <li onclick="myFunction(this)" class="elemento1" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                           <img src="../assets/nimg/p5.webp" class="card-img-top" loading="lazy" alt="...">

                           <!--************************************************************-->
              <span style="display: none;"  class="titulo" title="Carajillo 43"></span>
              <span style="display: none;"  class="ingrediente" title="Ingredientes"></span>
              <span style="display: none;"  class="ingrediente1" title="Licor 43"></span>
              <span style="display: none;"  class="ingrediente2" title="Café Espresso"></span>
              <span style="display: none;"  class="ingrediente3" title="Hielo"></span>
              <span style="display: none;"  class="ingrediente4" title="Garnish: Canela molida y rodaja de naranja deshidratada"></span>
              <span style="display: none;"  class="ingrediente5" title=""></span>
              <span style="display: none;"  class="ingrediente6" title=""></span>
              <span style="display: none;"  class="ingrediente7" title=""></span>
              <span style="display: none;"  class="ingrediente8" title=""></span>
              <span style="display: none;"  class="ingrediente9" title=""></span>
              <span style="display: none;"  class="ingrediente10" title=""></span>
              <span style="display: none;"  class="medida1" title="30 ml"></span>
              <span style="display: none;"  class="medida2" title="30 ml"></span>
              <span style="display: none;"  class="medida3" title="3 pcs"></span>
              <span style="display: none;"  class="medida4" title="1 Pcs"></span>
              <span style="display: none;"  class="medida5" title=""></span>
              <span style="display: none;"  class="medida6" title=""></span>
              <span style="display: none;"  class="medida7" title=""></span>
              <span style="display: none;"  class="medida8" title=""></span>
              <span style="display: none;"  class="medida9" title=""></span>
              <span style="display: none;"  class="medida10" title=""></span>
              <span style="display: none;"  class="prepara1" title="En una coctelera añada hielo, licor 43 y café espresso y agite."></span>
              <span style="display: none;"  class="prepara2" title="Vierta la mezcla en un vaso de vidrio y decore con una pizca de canela y rodaja de naranja deshidratada."></span>
              <span style="display: none;"  class="prepara3" title=""></span>
              <span style="display: none;"  class="prepara4" title=""></span>
              <span style="display: none;"  class="prepara5" title=""></span>
              <span style="display: none;"  class="prepara6" title=""></span>
              <span style="display: none;"  class="prepara7" title=""></span>
              <span style="display: none;"  class="imagen" title="assets/nimg/p5.webp"></span>
              <!--************************************************************-->


                         </li>
                         <li onclick="myFunction(this)" class="elemento1" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                           <img src="../assets/nimg/p6.webp" class="card-img-top" loading="lazy" alt="...">

                           <!--************************************************************-->
              <span style="display: none;"  class="titulo" title="Old Fashioned Cognac"></span>
              <span style="display: none;"  class="ingrediente" title="Ingredientes"></span>
              <span style="display: none;"  class="ingrediente1" title="Cognac"></span>
              <span style="display: none;"  class="ingrediente2" title="Simple Syrup"></span>
              <span style="display: none;"  class="ingrediente3" title="Angostura Bitters"></span>
              <span style="display: none;"  class="ingrediente4" title="Hielo"></span>
              <span style="display: none;"  class="ingrediente5" title="Garnish: Twist de naranja"></span>
              <span style="display: none;"  class="ingrediente6" title=""></span>
              <span style="display: none;"  class="ingrediente7" title=""></span>
              <span style="display: none;"  class="ingrediente8" title=""></span>
              <span style="display: none;"  class="ingrediente9" title=""></span>
              <span style="display: none;"  class="ingrediente10" title=""></span>
              <span style="display: none;"  class="medida1" title="60 ml"></span>
              <span style="display: none;"  class="medida2" title="15 ml"></span>
              <span style="display: none;"  class="medida3" title="2 dashes"></span>
              <span style="display: none;"  class="medida4" title="2 pcs"></span>
              <span style="display: none;"  class="medida5" title="1 pcs"></span>
              <span style="display: none;"  class="medida6" title=""></span>
              <span style="display: none;"  class="medida7" title=""></span>
              <span style="display: none;"  class="medida8" title=""></span>
              <span style="display: none;"  class="medida9" title=""></span>
              <span style="display: none;"  class="medida10" title=""></span>
              <span style="display: none;"  class="prepara1" title="En un caso con hielo, vierta Angostura Bitters"></span>
              <span style="display: none;"  class="prepara2" title="Agrega el syrup y el cognac lentamente"></span>
              <span style="display: none;"  class="prepara3" title="Decora con un twist de naranja"></span>
              <span style="display: none;"  class="prepara4" title=""></span>
              <span style="display: none;"  class="prepara5" title=""></span>
              <span style="display: none;"  class="prepara6" title=""></span>
              <span style="display: none;"  class="prepara7" title=""></span>
              <span style="display: none;"  class="imagen" title="assets/nimg/p6.webp"></span>
              <!--************************************************************-->
       



                         </li>
                     </ul>
                 
                     <button type="button" class="slider-nav" aria-label="Go left"></button>
                     <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
                 </div>
                  <!-- **** -->



            </div>



            
          </div>
       </div>
    </div>
 </section>

 <section >
    <div class="container px-4">
       <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
         
          <div class="col-sm-8 col-md-6">
             <div class="px-5 px-sm-0">
               <img class="img-fluid" src="assets/nimg/imagen.webp" alt="..." />
             </div>
          </div>

           <div class="col-12 col-lg-6">
            
             <p class="lead fw-normal text-muted mb-3 mb-lg-0">Suscríbete a nuestro mailing para conocer los nuevos productos kits y descuentos imperdibles.</p>
             <br>
             <div class="row">
                 <div class="col-lg-8">
                     <input type="text" name="" class=" input_texto">
                 </div>
                 <div class="col-lg-3">
                     <button class="css-button-fully-rounded--red" style="background-color: #e84138; border: 2px solid #e84138; font-family: 'Black 900', sans-serif;">Suscribirse</button>
                 </div>
             </div>
          </div>

       </div>
    </div>
 </section>

